[Package]
version: 1
depends: 

[Product]
type: localboot
id: opsi-script-test
name: opsi-script test
description: Test and example script for opsi-script
advice: 
version: 4.12.4.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: opsi-script-test.opsiscript
uninstallScript: opsi-script-test.opsiscript
updateScript: update.opsiscript
alwaysScript: opsi-script-test.opsiscript
onceScript: syntaxerror.opsiscript
customScript: not-existing.ins
userLoginScript: login.opsiscript

[ProductProperty]
type: unicode
name: alltest
multivalue: False
editable: False
description: Master property to run complete test (ignore the other properties)
values: ["off", "on"]
default: ["on"]

[ProductProperty]
type: unicode
name: licensemanagement
multivalue: False
editable: False
description: License Management functions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: constants
multivalue: False
editable: False
description: constants
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: parametrizing
multivalue: False
editable: False
description: parametrizing
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: stringfunctions
multivalue: False
editable: False
description: stringFunctions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: infofunctions
multivalue: False
editable: False
description: infoFunctions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: stringlistfunctions
multivalue: False
editable: False
description: stringListFunctions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: controlfunctions
multivalue: False
editable: False
description: controlFunctions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: sub
multivalue: False
editable: False
description: sub
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: files
multivalue: False
editable: False
description: File Operations
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: patches
multivalue: False
editable: False
description: Patches Ini-Files
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: patchhosts
multivalue: False
editable: False
description: PatchHosts
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: idapiconfig
multivalue: False
editable: False
description: IdapiConfig
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: patchtextfile
multivalue: False
editable: False
description: PatchTextFile
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: linkfolder
multivalue: False
editable: False
description: LinkFolder
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: xmlpatch
multivalue: False
editable: False
description: XMLPatch
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: winbatch
multivalue: False
editable: False
description: Winbatch
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: shellbatch
multivalue: False
editable: False
description: DosBatch/DosInAnIcon/ShellBatch/ShellInAnIcon
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: registry
multivalue: False
editable: False
description: Registry
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: opsiservicecall
multivalue: False
editable: False
description: opsiServiceCall
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: execpython
multivalue: False
editable: False
description: ExecPython
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: execwith
multivalue: False
editable: False
description: ExecWith
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: ldapsearch
multivalue: False
editable: False
description: LdapSearch
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: calculate
multivalue: False
editable: False
description: string function calculate
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: dummy
multivalue: False
editable: False
description: ProductProperty for GetProductproperty test, leave default
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: bool
name: dummybool
description: ProductProperty for GetProductproperty test, leave default
default: False

[ProductProperty]
type: unicode
name: dummymulti
multivalue: True
editable: False
description: ProductProperty for GetProductproperty test, leave default
values: ["ab", "cd", "ef", "g,h"]
default: ["ab", "cd", "ef", "g,h"]

[ProductProperty]
type: unicode
name: dummyumlaut
multivalue: True
editable: False
description: ProductProperty for GetProductproperty test, leave default
values: ["Test umlaut from prop: üöäÜÖÄß"]
default: ["Test umlaut from prop: üöäÜÖÄß"]

[ProductProperty]
type: unicode
name: runasloggedonadmin
multivalue: False
editable: False
description: experimental
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: profileactions
multivalue: False
editable: False
description: run ProfileActions section as special sub
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: encoding
multivalue: False
editable: False
description: Test encoding functions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: bool
name: setfailed
description: set installation result to failed (fatal error)
default: False

[ProductProperty]
type: unicode
name: loglevel
multivalue: False
editable: False
description: Use Log Level
values: ["4", "5", "6", "7", "8", "9"]
default: ["7"]

[ProductProperty]
type: unicode
name: confidentialstring
multivalue: False
editable: False
description: Test GetConfidentialProductProperty
values: ["This is confidential"]
default: ["This is confidential"]

[ProductProperty]
type: unicode
name: jsonfunctions
multivalue: False
editable: False
description: jsonfunctions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: cryptfunctions
multivalue: False
editable: False
description: jsonfunctions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: xml2
multivalue: False
editable: False
description: xml2 section and functions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: localfunctions
multivalue: False
editable: False
description: LocalFunctions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: powershell
multivalue: False
editable: False
description: powershell with opsi-script
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: regex
multivalue: False
editable: False
description: Regex section and functions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: networkcalc
multivalue: False
editable: False
description: NetworkCalc section and functions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: urlparser
multivalue: False
editable: False
description: Urlparser section and functions
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: var_as_param
multivalue: False
editable: False
description: Variabe as Section Parameters
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: wmi
multivalue: False
editable: False
description: WMI interface
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: internalundocumented
multivalue: False
editable: False
description: internalundocumented
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: macos
multivalue: False
editable: False
description: Apple macOS Tests
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: adminuser_password
multivalue: False
editable: True
description: Password for adminuser (opsiservicecall test)
values: ["linux123"]
default: ["linux123"]

